Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: pre-inrepo-test, post-inrepo-test, pre-kyma-validate-dockerfiles

.prow.yaml:

presubmits:
  - name: pre-inrepo-test
    annotations:
      testgrid-create-test-group: "false"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "pre-inrepo-test"
      prow.k8s.io/pubsub.topic: "prowjobs"
      preset-gardener-neighbors: "true"
    run_if_changed: "CODEOWNERS"
    decorate: true
    cluster: untrusted-workload
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20220105-baf0471a"
          command:
            - "/bin/ls"
            - "/home/prow/go/src/github.com/kyma-project/kyma"

postsubmits:
  - name: post-inrepo-test
    annotations:
      testgrid-create-test-group: "false"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "post-inrepo-test"
      prow.k8s.io/pubsub.topic: "prowjobs"
      preset-gardener-neighbors: "true"
    run_if_changed: "CODEOWNERS"
    decorate: true
    cluster: untrusted-workload
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20220105-baf0471a"
          command:
            - "/bin/ls"
            - "/home/prow/go/src/github.com/kyma-project/kyma"

.prow/inrepo-test.yaml:

presubmits:
  - name: pre-kyma-validate-dockerfiles
    annotations:
      pipeline.trigger: "pr-submit"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "pre-kyma-validate-dockerfiles"
      prow.k8s.io/pubsub.topic: "prowjobs"
    run_if_changed: '.*Dockerfile$'
    skip_report: false
    decorate: true
    cluster: untrusted-workload
    max_concurrency: 10
    extra_refs:
      - org: kyma-project
        repo: test-infra
        path_alias: github.com/kyma-project/test-infra
        base_ref: main
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/bootstrap:v20220427-9543160d"
          command:
            - "/bin/bash"
          args:
            - "-c"
            - "cat /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/install-prow.sh"
          resources:
            requests:
              memory: 1.5Gi
              cpu: 0.8

refactor the code
  components/telemetry-operator/controllers/telemetry/logparser_controller.go
  components/telemetry-operator/controllers/telemetry/logpipeline_controller.go
Due: none

Create multiple services on the same host tutorial
  docs/01-overview/main-areas/api-exposure/apix-02-useful-links.md
  docs/03-tutorials/00-api-exposure/apix-02-create-workload.md
  docs/03-tutorials/00-api-exposure/apix-03-expose-multiple-services.md
Due: none

bump image
  resources/telemetry/values.yaml
Due: none

temp checkout
  tests/fast-integration/eventing-test/eventing-test-prep.js
  tests/fast-integration/image/clone-and-run-fit.sh
Due: none

add missing return
  components/telemetry-operator/controllers/telemetry/logparser_controller.go
Due: none

update reserved keywords in log payload for telemetry docs (#15133)
  docs/01-overview/main-areas/observability/obsv-04-telemetry-in-kyma.md
Due: none

Comment
  tests/fast-integration/skr-test/test.js
Due: none

Fixing typos
  docs/03-tutorials/00-api-exposure/apix-03-expose-multiple-services.md
Due: none

fix broken link
  docs/01-overview/main-areas/observability/obsv-04-telemetry-in-kyma.md
Due: none

Comment
  tests/fast-integration/skr-test/oidc/index.js
  tests/fast-integration/utils/index.js
Due: none

Reconciler Gherkin tests (II) (#15103)
  CODEOWNERS
  tests/components/reconciler/Makefile
  tests/components/reconciler/cucumber_test.go
  tests/components/reconciler/e2e_test.go
  tests/components/reconciler/features/incident-recovery.feature
  tests/components/reconciler/features/module-template.feature
  tests/components/reconciler/given.go
  tests/components/reconciler/go.mod
  tests/components/reconciler/go.sum
  tests/components/reconciler/then.go
Due: pre-inrepo-test, post-inrepo-test

Revert "[Telemetry Operator] Don't restart Fluent Bit pod when the CR is being updated (#15132)"
  components/telemetry-operator/controllers/telemetry/logparser_controller.go
  components/telemetry-operator/controllers/telemetry/logpipeline_controller.go
  components/telemetry-operator/internal/parserSync/parser.go
  components/telemetry-operator/internal/parserSync/parser_test.go
  components/telemetry-operator/internal/sync/sync.go
  components/telemetry-operator/internal/sync/sync_test.go
  resources/telemetry/values.yaml
Due: none

Added description for LogPipeline.unsupportedMode (#15196)
  docs/01-overview/main-areas/observability/obsv-04-telemetry-in-kyma.md
Due: none

Bump telemetry-operator image
  resources/telemetry/values.yaml
Due: none

Add instruction how to keep Fluent Bit from the logging component
  docs/migration-guide-2.5-2.6.md
Due: none

Revert "[Telemetry Operator] Don't restart Fluent Bit pod when the CR is being updated (#15132) (#15216)
  components/telemetry-operator/controllers/telemetry/logparser_controller.go
  components/telemetry-operator/controllers/telemetry/logpipeline_controller.go
  components/telemetry-operator/internal/parserSync/parser.go
  components/telemetry-operator/internal/parserSync/parser_test.go
  components/telemetry-operator/internal/sync/sync.go
  components/telemetry-operator/internal/sync/sync_test.go
  resources/telemetry/values.yaml
Due: none

Fix for sidecar injection
  tests/components/application-connector/Makefile
  tests/components/application-connector/resources/charts/gateway-test/values.yaml
Due: none

Update docs/migration-guide-2.5-2.6.md
  docs/migration-guide-2.5-2.6.md
Due: none

Add deploy call
  docs/migration-guide-2.5-2.6.md
Due: none

Special sorting for name and match. Just lowercase all keys.
  components/telemetry-operator/controllers/telemetry/logpipeline_controller_test.go
  components/telemetry-operator/internal/fluentbit/config/builder/config_builder_test.go
  components/telemetry-operator/internal/fluentbit/config/builder/metadata_filter_test.go
  components/telemetry-operator/internal/fluentbit/config/builder/output_test.go
  components/telemetry-operator/internal/fluentbit/config/builder/rewritetag_filter_test.go
  components/telemetry-operator/internal/fluentbit/config/builder/section_builder.go
  components/telemetry-operator/internal/webhook/dryrun/testdata/expected/pipelines/dynamic/logpipeline-1.conf
Due: none

Remove telemetry-operator PR image
  resources/telemetry/values.yaml
Due: none

Add instruction how to keep Fluent Bit from the logging component (#15217)
  docs/migration-guide-2.5-2.6.md
Due: none

Bump eventing images (#15206)
  resources/eventing/values.yaml
Due: none

Remove telemetry-operator PR image (#15218)
  resources/telemetry/values.yaml
Due: none

adding test configuration
  tests/components/application-connector/resources/charts/compass-runtime-agent-test/templates/secret-compass.yaml
  tests/components/application-connector/resources/charts/compass-runtime-agent-test/templates/test.yaml
  tests/components/application-connector/resources/charts/compass-runtime-agent-test/values.yaml
  tests/components/application-connector/test/compass-runtime-agent/config.go
  tests/components/application-connector/test/compass-runtime-agent/suite_test.go
  tests/components/application-connector/test/compass-runtime-agent/testkit/director/directorclient.go
Due: none

restore restart policy removed by accident
  tests/components/application-connector/resources/charts/compass-runtime-agent-test/templates/test.yaml
Due: none

Update docs/05-technical-reference/00-custom-resources/svls-01-function.md
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Due: none

Update svls-01-function.md
  docs/05-technical-reference/00-custom-resources/svls-01-function.md
Due: none

Fix for sidecar injection
  tests/components/application-connector/Makefile
Due: none

Adding new mtls gateway
  resources/certificates/templates/certificate-mtls.yaml
  resources/certificates/values.yaml
  resources/istio-resources/templates/gateway-mtls.yaml
  resources/istio-resources/values.yaml
Due: none

update python39 runtime image
  components/function-runtimes/python39/Dockerfile
Due: pre-kyma-validate-dockerfiles

Update components/function-runtimes/python39/Dockerfile
  components/function-runtimes/python39/Dockerfile
Due: pre-kyma-validate-dockerfiles

update golang runtime to 1.19.0 in busola-migrator
  components/busola-migrator/Dockerfile
Due: pre-kyma-validate-dockerfiles

udpate python39 Dockerfile
  components/function-runtimes/python39/Dockerfile
Due: pre-kyma-validate-dockerfiles

change golang registry location to eu.gcr.io/kyma-project/external
  components/busola-migrator/Dockerfile
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
Due: pre-kyma-validate-dockerfiles

update pip url
  components/function-runtimes/python39/Dockerfile
Due: pre-kyma-validate-dockerfiles

update node runtimes
  components/function-runtimes/nodejs12/Dockerfile
  components/function-runtimes/nodejs14/Dockerfile
  components/function-runtimes/nodejs16/Dockerfile
Due: pre-kyma-validate-dockerfiles

fix vulnerabilities in function-controller images
  components/function-controller/deploy/jobinit/Dockerfile
  components/function-controller/deploy/manager/Dockerfile
  components/function-controller/deploy/webhook/Dockerfile
Due: pre-kyma-validate-dockerfiles

Add requirements for ScaleConfig (#15163)
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/crd/crd-serverless.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/values.yaml
Due: none
