Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: pre-inrepo-test, post-inrepo-test, pre-kyma-validate-dockerfiles

.prow.yaml:

presubmits:
  - name: pre-inrepo-test
    annotations:
      testgrid-create-test-group: "false"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "pre-inrepo-test"
      prow.k8s.io/pubsub.topic: "prowjobs"
      preset-gardener-neighbors: "true"
    run_if_changed: "CODEOWNERS"
    decorate: true
    cluster: untrusted-workload
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20220105-baf0471a"
          command:
            - "/bin/ls"
            - "/home/prow/go/src/github.com/kyma-project/kyma"

postsubmits:
  - name: post-inrepo-test
    annotations:
      testgrid-create-test-group: "false"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "post-inrepo-test"
      prow.k8s.io/pubsub.topic: "prowjobs"
      preset-gardener-neighbors: "true"
    run_if_changed: "CODEOWNERS"
    decorate: true
    cluster: untrusted-workload
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/kyma-integration:v20220105-baf0471a"
          command:
            - "/bin/ls"
            - "/home/prow/go/src/github.com/kyma-project/kyma"

.prow/inrepo-test.yaml:

presubmits:
  - name: pre-kyma-validate-dockerfiles
    annotations:
      pipeline.trigger: "pr-submit"
    labels:
      prow.k8s.io/pubsub.project: "sap-kyma-prow"
      prow.k8s.io/pubsub.runID: "pre-kyma-validate-dockerfiles"
      prow.k8s.io/pubsub.topic: "prowjobs"
    run_if_changed: '.*Dockerfile$'
    skip_report: false
    decorate: true
    cluster: untrusted-workload
    max_concurrency: 10
    extra_refs:
      - org: kyma-project
        repo: test-infra
        path_alias: github.com/kyma-project/test-infra
        base_ref: main
    spec:
      containers:
        - image: "eu.gcr.io/kyma-project/test-infra/bootstrap:v20220427-9543160d"
          command:
            - "/bin/bash"
          args:
            - "-c"
            - "cat /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/install-prow.sh"
          resources:
            requests:
              memory: 1.5Gi
              cpu: 0.8

Removes unused resources
  resources/cluster-essentials/.helmignore
  resources/cluster-essentials/Chart.yaml
  resources/cluster-essentials/templates/_helpers.tpl
  resources/cluster-essentials/templates/ingress-tls-cert.yaml
  resources/cluster-essentials/templates/limit-range.yaml
  resources/cluster-essentials/templates/migrate-ac-certs-job.yaml
  resources/cluster-essentials/templates/priorityclass-high.yaml
  resources/cluster-essentials/templates/priorityclass.yaml
  resources/cluster-essentials/values.yaml
  resources/cluster-users/Chart.yaml
  resources/cluster-users/templates/_helpers.tpl
  resources/cluster-users/templates/clusterroles-addons.yaml
  resources/cluster-users/templates/clusterroles-coreos-com.yaml
  resources/cluster-users/templates/clusterroles-gardener.yaml
  resources/cluster-users/templates/clusterroles-istio-io.yaml
  resources/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/cluster-users/templates/clusterroles-kyma-project-io.yaml
  resources/cluster-users/templates/clusterroles-ory-sh.yaml
  resources/cluster-users/templates/clusterroles-svcat.yaml
  resources/cluster-users/templates/rbac-roles.yaml
  resources/cluster-users/values.yaml
  resources/istio-resources/Chart.yaml
  resources/istio-resources/files/dashboards/README.md
  resources/istio-resources/files/dashboards/control-plane.json
  resources/istio-resources/files/dashboards/mesh.json
  resources/istio-resources/files/dashboards/performance.json
  resources/istio-resources/files/dashboards/service.json
  resources/istio-resources/files/dashboards/workload.json
  resources/istio-resources/templates/_helpers.tpl
  resources/istio-resources/templates/dashboards/istio-control-plane.yaml
  resources/istio-resources/templates/dashboards/istio-mesh.yaml
  resources/istio-resources/templates/dashboards/istio-performance.yaml
  resources/istio-resources/templates/dashboards/istio-service.yaml
  resources/istio-resources/templates/dashboards/istio-workload.yaml
  resources/istio-resources/templates/gateway.yaml
  resources/istio-resources/templates/mtls-global-v2.yaml
  resources/istio-resources/templates/virtualservice.yaml
  resources/istio-resources/values.yaml
Due: none

owners updated
  CODEOWNERS
Due: pre-inrepo-test, post-inrepo-test

added tests
  components/event-publisher-proxy/pkg/application/lister.go
  components/event-publisher-proxy/pkg/cloudevents/builder/generic_test.go
  components/event-publisher-proxy/pkg/cloudevents/eventtype/clean_test.go
  components/event-publisher-proxy/pkg/legacy/legacy_test.go
Due: none

Removes leftovers
  docs/04-operation-guides/operations/02-install-kyma.md
  docs/05-technical-reference/00-configuration-parameters/smsh-02-istio-resources-chart.md
  tests/components/application-connector/resources/installation-config/mini-kyma-os.yaml
  tests/components/application-connector/resources/installation-config/mini-kyma-skr.yaml
Due: none

Remove gophers from CODEOWNERS
  .github/workflows/post-master-binding-k3s.yml
  .github/workflows/pre-master-binding-k3s.yml
  CODEOWNERS
Due: pre-inrepo-test, post-inrepo-test

Remove gophers from CODEOWNERS (#18264)
  .github/workflows/post-master-binding-k3s.yml
  .github/workflows/pre-master-binding-k3s.yml
  CODEOWNERS
Due: pre-inrepo-test, post-inrepo-test

image bump
  resources/eventing/values.yaml
Due: none

Remove not needed test cases
  CODEOWNERS
  tests/fast-integration/test/1-commerce-mock.js
  tests/fast-integration/test/2-getting-started-guide.js
  tests/fast-integration/test/fixtures/getting-started-guide/index.js
  tests/fast-integration/test/fixtures/getting-started-guide/microservice.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/ns.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/redis-addon-sb-si.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/redis-sbu.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/xf-mocks.yaml
  tests/fast-integration/test/index.js
  tests/fast-integration/test/test.js
Due: pre-inrepo-test, post-inrepo-test

Remove not needed test cases (#18257)
  CODEOWNERS
  tests/fast-integration/test/1-commerce-mock.js
  tests/fast-integration/test/2-getting-started-guide.js
  tests/fast-integration/test/fixtures/getting-started-guide/index.js
  tests/fast-integration/test/fixtures/getting-started-guide/microservice.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/ns.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/redis-addon-sb-si.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/redis-sbu.yaml
  tests/fast-integration/test/fixtures/getting-started-guide/xf-mocks.yaml
  tests/fast-integration/test/index.js
  tests/fast-integration/test/test.js
Due: pre-inrepo-test, post-inrepo-test

remove monitoring tests
  tests/fast-integration/monitoring/client.js
  tests/fast-integration/monitoring/grafana.js
  tests/fast-integration/monitoring/index.js
  tests/fast-integration/monitoring/prometheus.js
  tests/fast-integration/test/test.js
  tests/fast-integration/upgrade-test/upgrade-test-tests.js
Due: none

remove unused audit-log tests
  tests/fast-integration/audit-log/client.js
  tests/fast-integration/audit-log/helpers.js
  tests/fast-integration/audit-log/index.js
Due: none

remove eventingMonitoringTest
  tests/fast-integration/eventing-test/eventing-test.js
  tests/fast-integration/eventing-test/metric-test.js
  tests/fast-integration/eventing-test/nats-dashboard-queries.json
Due: none

remove unused isSKR import
  tests/fast-integration/eventing-test/eventing-test.js
Due: none

remove test.js
  tests/fast-integration/test/test.js
Due: none

remove unused "test-commerce-mock" and "test-getting-started"
  tests/fast-integration/package.json
Due: none

remove make target for ci
  tests/fast-integration/Makefile
Due: none

add validation for resoruces
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/fn.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/templates/crds.yaml
Due: none

add initial unit/integration tests
  components/function-controller/Makefile
  components/function-controller/go.mod
  components/function-controller/go.sum
  components/function-controller/pkg/apis/serverless/v1alpha2/function_validation_test.go
Due: none

wip
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/fn.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/templates/crds.yaml
Due: none

first validation
  components/function-controller/Makefile
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/config/rbac/role.yaml
  components/function-controller/config/webhook/manifests.yaml
  components/function-controller/fn.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/templates/crds.yaml
Due: none

fix crd
  components/function-controller/Makefile
  components/function-controller/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/function-controller/pkg/apis/serverless/v1alpha2/function_types.go
  components/function-controller/pkg/apis/serverless/v1alpha2/function_validation_test.go
  installation/resources/crds/serverless/crd-serverless.yaml
  resources/serverless/templates/crds.yaml
Due: none

Added ENV flag to disable Application CR lister (#18259)
  components/event-publisher-proxy/pkg/cloudevents/builder/generic.go
  components/event-publisher-proxy/pkg/cloudevents/builder/generic_test.go
  components/event-publisher-proxy/pkg/cloudevents/builder/types.go
  components/event-publisher-proxy/pkg/cloudevents/eventtype/clean.go
  components/event-publisher-proxy/pkg/cloudevents/eventtype/clean_test.go
  components/event-publisher-proxy/pkg/commander/eventmesh/eventmesh.go
  components/event-publisher-proxy/pkg/commander/nats/nats.go
  components/event-publisher-proxy/pkg/env/eventmesh_config.go
  components/event-publisher-proxy/pkg/env/nats_config.go
  components/event-publisher-proxy/pkg/legacy/legacy.go
  components/event-publisher-proxy/pkg/legacy/legacy_test.go
  resources/eventing/values.yaml
Due: none

fix tabs in docs
  docs/index.html
Due: none

fix tabs in docs (#18266)
  docs/index.html
Due: none

docs: Refer to new NATS module docs
  docs/_sidebar.md
  docs/index.html
Due: none

NATS list entry: remove asterisk, update link
  docs/README.md
Due: none

Remove milv config file
  milv.config.yaml
Due: none

Remove tools/gitserver
  tools/gitserver/Dockerfile
  tools/gitserver/Makefile
  tools/gitserver/README.md
  tools/gitserver/etc/git.conf
  tools/gitserver/etc/httpd.conf
  tools/gitserver/etc/init_repos.sh
  tools/gitserver/repos/function/handler.js
  tools/gitserver/repos/function/package.json
Due: pre-kyma-validate-dockerfiles

Remove milv config file (#18268)
  milv.config.yaml
Due: none

Remove serverless from components list
  installation/resources/components.yaml
  installation/resources/crds/serverless/crd-serverless.yaml
Due: none

Remove Otters from codeowners from serverless components
  CODEOWNERS
Due: pre-inrepo-test, post-inrepo-test

Update Istio app-connector-gateway to remove obsolete cipher suites and align TLS configuration with kyma-gateway
  resources/application-connector/templates/application-connector-gateway.yaml
Due: none

Remove serverless from components list (#18271)
  installation/resources/components.yaml
  installation/resources/crds/serverless/crd-serverless.yaml
Due: none

Remove tests/serverless-bench
  tests/serverless-bench/Dockerfile
  tests/serverless-bench/Makefile
  tests/serverless-bench/README.md
  tests/serverless-bench/fixtures/functions/nodejs16-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xs.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xs.yaml
  tests/serverless-bench/fixtures/functions/python39-l.yaml
  tests/serverless-bench/fixtures/functions/python39-m.yaml
  tests/serverless-bench/fixtures/functions/python39-s.yaml
  tests/serverless-bench/fixtures/functions/python39-xl.yaml
  tests/serverless-bench/fixtures/local-test/grafana-datasource.yaml
  tests/serverless-bench/fixtures/local-test/local-mysql.yaml
  tests/serverless-bench/fixtures/local-test/serverless-bench-grafana-dashboard.yaml
  tests/serverless-bench/fixtures/serverless-benchmark-job.yaml
  tests/serverless-bench/locust.py
  tests/serverless-bench/requirements.txt
  tests/serverless-bench/run-benchmarks.sh
Due: pre-kyma-validate-dockerfiles
